---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
import Menu from "./Menu.astro";
---

<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <!-- <span class="header__logo-text">Panel Para Cuarto Frío</span> -->
            <a href="/">
                <Image
                    src={logo}
                    alt="Logo"
                    class="header__logo-img"
                    width={200}
                    height={50}
                    loading="eager"
                />
            </a>
        </div>
        <nav class="header__nav">
            <Menu />
        </nav>
        
    </div>
</header>

<style>
    .header {
        background-color: var(--color-primary);
        padding: 1rem 2rem;
        position: sticky;
        top: 0;
        z-index: 100;
        border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    }

    .header__container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo-text {
        color: var(--color-white);
        font-size: 1.25rem;
        font-weight: 700;
    }

    .header__nav {
        display: flex;
        gap: 2rem;
    }

    .header__logo a {
        display: inline-block;
        cursor: pointer;
    }
</style>
