---
const base = import.meta.env.BASE_URL;
---


<a href={`${base}#soluciones`}>Soluciones</a>
<a href={`${base}blog/`}>Blog</a>
<a href={`${base}contacto/`}>Contacto</a>

<style>   

    a {
        color: var(--color-white);
        font-weight: 600;
        font-size: 0.95rem;
        transition: color 0.2s;
    }

    a:hover {
        color: var(--color-accent);
    }
</style>
